<div class="profile-main-container">
  <nz-row class='profile-mini-container'>
    <nz-col class="profile-item profile fx-center" [nzLg]="{ span: 6 }" [nzMd]="{ span: 24 }" [nzXs]="{ span: 24 }">
      <div class="avator-section">
        <nz-avatar [nzSrc]="profileImage"></nz-avatar>
        <!-- <ng-container>
          <div class="avator-edit" id="open-action-sheet">
            <ng-container *ngIf="!isLoading; else loading">
              <img src="assets/camera-icon.png" alt="Camera Icon" />
            </ng-container>
            <ng-template #loading>
              <nz-spin></nz-spin>
            </ng-template>
          </div>
        </ng-container> -->
      </div>
    </nz-col>

    <nz-col class="profile-item profile fx-center" [nzLg]="{ span: 18 }" [nzMd]="{ span: 24 }" [nzXs]="{ span: 24 }">
      <form nz-form [formGroup]="profileEditForm" (ngSubmit)="onSubmit()" nzLayout="vertical">
        <nz-row [nzGutter]="[16, 24]">
          <nz-col [nzLg]="{ span: 12 }" [nzMd]="{ span: 24 }" [nzXs]="{ span: 24 }">
            <nz-form-item>
              <nz-form-label nzRequired>User Name</nz-form-label>
              <nz-form-control [nzErrorTip]="'Fill your username'">
                <input nz-input formControlName="username" placeholder="Enter username" />
              </nz-form-control>
            </nz-form-item>

            <ng-container formGroupName="name">
              <nz-form-item>
                <nz-form-label nzRequired>First Name</nz-form-label>
                <nz-form-control [nzErrorTip]="'Fill your firstname'">
                  <input nz-input formControlName="firstname" placeholder="Enter firstname" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired>Last Name</nz-form-label>
                <nz-form-control [nzErrorTip]="'Fill your lastname'">
                  <input nz-input formControlName="lastname" placeholder="Enter lastname" />
                </nz-form-control>
              </nz-form-item>
            </ng-container>

            <nz-form-item>
              <nz-form-label nzRequired>Email</nz-form-label>
              <nz-form-control [nzErrorTip]="'Fill your email'">
                <input nz-input formControlName="email" placeholder="Enter email" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="phone">
              <nz-form-label nzRequired>Phone Number</nz-form-label>
              <nz-form-control [nzErrorTip]="'Fill your phone number'">
                <input nz-input formControlName="phone" placeholder="Enter phone number" />
              </nz-form-control>
            </nz-form-item>
          </nz-col>

          <nz-col [nzLg]="{ span: 12 }" [nzMd]="{ span: 24 }" [nzXs]="{ span: 24 }">
            <ng-container formGroupName="address">
              <nz-form-item>
                <nz-form-label nzRequired>Street</nz-form-label>
                <nz-form-control [nzErrorTip]="'Fill your street'">
                  <input nz-input formControlName="street" placeholder="Enter street" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired>City</nz-form-label>
                <nz-form-control [nzErrorTip]="'Fill your city'">
                  <input nz-input formControlName="city" placeholder="Enter city" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired>Number</nz-form-label>
                <nz-form-control [nzErrorTip]="'Fill your number'">
                  <input nz-input formControlName="number" placeholder="Enter number" type="number"/>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzRequired>ZipCode</nz-form-label>
                <nz-form-control [nzErrorTip]="'Fill your zipcode'">
                  <input nz-input formControlName="zipcode" placeholder="Enter zipcode"/>
                </nz-form-control>
              </nz-form-item>
            </ng-container>
          </nz-col>
        </nz-row>

        <nz-form-item class="form-button">
          <nz-form-control>
            <button>
              Save
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-col>
  </nz-row>
</div>