<nav class="nav-container">
    <div class="nav-content fx-center">
        <div class="nav-child left fx-center">

            <div class="back" (click)="back()">
                <nz-icon nzType="left" nzTheme="outline" style="font-size: 20px;" />
            </div>

            <div class="search-container">
                <img src="assets/Dark_Gray_Search.svg">
                <nz-select class="search" nzShowSearch nzAllowClear nzPlaceHolder="Search near you"
                    (nzOnSearch)="onSearch($event)" [(ngModel)]="searchSelectedValue"
                    (ngModelChange)="onSelected($event)">
                    <nz-option nzCustomContent *ngFor="let product of filteredProducts$ | async"
                        [nzLabel]="product.title" [nzValue]="product">
                        {{ product.title }}
                    </nz-option>
                </nz-select>
            </div>
        </div>

        <div class="nav-child right fx-center">
            <nz-badge [nzCount]="cartsCount" routerLink="/cart" style="cursor: pointer;">
                <img class="notification" src="../../../assets/shopping-cart (3).png" alt="Notification" />
            </nz-badge>

            <div class="avator">
                <div nz-popover [nzPopoverContent]="popoverContent" nzPlacement="bottomRight" nzPopoverTrigger="click">
                    <a href="#" (click)="$event.preventDefault()">
                        <img src="../../../assets/emptyAvator.png" alt="Profile" />
                    </a>
                </div>
            </div>

            <ng-template #popoverContent>
                <ul class="nav-popover-container">
                    <li class="popover-item">
                        <a (click)="navigateUrl('/profile')">
                            <div class="profile fx-center">
                                <nz-avatar nzSrc="../../../assets/emptyAvator.png"></nz-avatar>
                                <div *ngFor="let user of userData$ | async">
                                    <h6>{{user.username}}</h6>
                                    <p>Profile</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <ng-container *ngFor="let item of items; let i = index">
                        <li class="popover-item fx-center" (click)="navHandleChange(item.title)">
                            <img [src]="item.icon" alt="Icon" />
                            <a (click)="navigateUrl(item.link)" class="fx-center notification-item">
                                <span>{{ item.title }}&nbsp;</span>
                                <span *ngIf="item.count">{{ item.count }}</span>
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </ng-template>
        </div>
    </div>
</nav>